<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DentalOffice.Properties.Settings.DentalOfficeConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DentalOffice;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>